body {
    background-color: darkblue;
}\

.active-link {
    color: purple;
}

.active-link-home {
    color: black;
}

.Nav {
    background-color: silver;
}

.Footer {
    background-color: red;
}

.ProjectCard {
    background-color: red;
}