html, body {
    height: 100%;
    background: linear-gradient(to right, #09203f, #537895);
    color: blanchedalmond;
}

.active-link {
    color: purple;
}

.active-link-home {
    color: black;
}

.Nav {
    background-color: silver;
}

.Footer {
    background-color: red;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.ProjectCard {
    background-color: red;
}

#profile-photo {
    height: 200px;
}