body {
    background-color: darkblue;
}

.Header {
    background-color: pink;
}

.Nav {
    background-color: silver;
}

.Footer {
    background-color: red;
}

ul {
    background-color: gold;
}

.ProjectCard {
    background-color: red;
}